<div class="contents row">
  <div class="container">
<%= form_with(model: Blog.new, local: true) do |form| %>
      <h3>
        記事を投稿する
      </h3>
      <input placeholder="Image Url" type="text" name="image">
      <textarea cols="30" name="text" placeholder="text" rows="10"></textarea>           
      <input type="submit" value="SENT">
    <% end %>
  </div>
</div>

